<form>
  <mat-form-field>
    <mat-select [(ngModel)]="model" placeholder="Select With Images" name="model" fsSelect>
      <mat-option [value]="null">
        None
      </mat-option>

      <mat-select-trigger *ngIf="model">
        <ng-container *ngTemplateOutlet="template;context:{ model: model }"></ng-container>
      </mat-select-trigger>

      <mat-option *ngFor="let item of items" [value]="item">
        <ng-container *ngTemplateOutlet="template;context:{ model: item }"></ng-container>
      </mat-option>

      <ng-template #template let-model="model">
        <img *ngIf="model.image" [src]="model.image" class="avatar">
        <span>{{ model.name }}</span>
      </ng-template>
    </mat-select>
  </mat-form-field>
</form>

