
mat-select[fsSelect],
.mat-select-panel.fs-select-panel {
  img {
    border-radius: 50%;
    width: 24px;
    height: 24px;
  }
}

.mat-select-panel.fs-select-panel {
  .mat-option-text {
    align-items: center;
    display: flex;
  }

  img {
    width: 28px;
    height: 28px;
    margin-right: 5px;
  }  
}

mat-select[fsSelect] {
  .mat-select-value-text {
    img {
      position: absolute;
      top: -6px;
    }

    img + * {
      margin-left: 28px;
    }
  }
}