<fs-examples [config]="config">

  <fs-example name="Static Single Select" componentName="static-single-select-example">
    <static-single-select-example></static-single-select-example>
  </fs-example>

  <fs-example name="Single Select" componentName="single-select-example">
    <single-select-example></single-select-example>
  </fs-example>

  <fs-example name="Multiple Select" componentName="multiple-select-example">
    <multiple-select-example></multiple-select-example>
  </fs-example>

  <fs-example name="Empty Select with Placeholder" componentName="empty-select-with-placeholder-example">
    <empty-select-with-placeholder-example></empty-select-with-placeholder-example>
  </fs-example>

  <fs-example name="Empty Select with Placeholder and Add Action" componentName="empty-select-placeholder-action-example">
    <empty-select-placeholder-action-example></empty-select-placeholder-action-example>
  </fs-example>

  <fs-example name="Read Only Select" componentName="read-only-select-example">
    <read-only-select-example></read-only-select-example>
  </fs-example>

  <fs-example name="Select With Images" componentName="custom-selected-item-select-example">
    <custom-selected-item-select-example></custom-selected-item-select-example>
  </fs-example>

</fs-examples>
