<fs-examples
    title="Select"
    githubUrl="https://github.com/Firestitch/fs-select"
    npmUrl="https://www.npmjs.com/package/@firestitch/select">

  <fs-example title="Static Single Select" componentName="static-single-select-example">
    <static-single-select-example></static-single-select-example>
  </fs-example>

  <fs-example title="Single Select" componentName="single-select-example">
    <single-select-example></single-select-example>
  </fs-example>

  <fs-example title="Multiple Select" componentName="multiple-select-example">
    <multiple-select-example></multiple-select-example>
  </fs-example>

  <fs-example title="Empty Select with Placeholder" componentName="empty-select-with-placeholder-example">
    <empty-select-with-placeholder-example></empty-select-with-placeholder-example>
  </fs-example>

  <fs-example title="Empty Select with Placeholder and Add Action" componentName="empty-select-placeholder-action-example">
    <empty-select-placeholder-action-example></empty-select-placeholder-action-example>
  </fs-example>

  <fs-example title="Read Only Select" componentName="read-only-select-example">
    <read-only-select-example></read-only-select-example>
  </fs-example>

</fs-examples>
